* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* common rules start */

.clear-fix::after {
    content: '';
    display: table;
    clear: both;
}

ul {
    list-style: none;
}

.d-flex {
    display: flex;
}

.a-items {
    align-items: center;
}

.j-cont {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-55 {
    margin-bottom: 55px;
}

/* common rules end */

/* top header start */

header {
    height: 600px;
    padding-top: 100px;
    background-color: #B4D0E7;
}

.top-header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7777;
    background-color: #fff;
}

#logo {
    padding: 10px;
}

.nav ul {
    padding: 10px;
}

.nav ul a {
    color: #000;
    text-decoration: none;
}

.nav ul li {
    padding: 5px 15px;
}

.top-header-right .btn {
    margin-right: 10px;
}

/* top header end */

/* hero section start */

.hero-container {
    height: 550px;
    margin: auto;
}

.top-hero {
    height: 180px;
}

.hero-container h1 {
    font-size: 60px;
}

.bottom-hero {
    height: 370px;
}

.bottom-hero .hero-text {
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
}

.bottom-hero .hero-text .btn {
    margin: 20px 0;
}

.bottom-hero .hero-text a i {
    color: #000;
    font-size: 40px;
    margin-top: 45px;
}

.bottom-hero .hero-img img {
    object-fit: contain;
}

/* hero section end */

/* main start */

/* subcription section start */

main {
    width: 65%;
    margin: auto;
    padding-top: 100px;
}

main h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

main .billing {
    margin-right:20px;
}

main .billing::before {
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 10px;
}

main .billing.checked::before {
    width: 7px;
    height: 7px;
    border: 5px solid #0161FF;
}

.sub-cards {
    height: 1100px;
    margin-bottom: 50px;
}

.sub-card {
    width: calc(100% / 3 - 20px);
    border: 1px solid #9c9c9c;
}

.sub-type {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #9c9c9c;
}

.sub-perf {
    padding: 20px;
}

.sub-perf .price {
    font-weight: bold;
}

.sub-perf .duration {
    font-weight: 200;
}

.sub-perf ul {
    text-indent: -10px;
    padding-left: 20px;
}

.sub-perf ul li {
    margin-bottom: 25px;
}

.sub-perf ul li:last-child {
    margin-bottom: 55px;
}

.sub-perf .sub-imm {
    margin: 35px 0 45px 0;
}

.sub-perf hr {
    width: 50px;
}

.sub-perf .fa-check {
    color: #0161FF;
}

.sub-perf .fa-users {
    font-size: 13px;
}

.sub-contacts {
    border: 1px solid #9c9c9c;
}

.top-sub-contacts {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #9c9c9c;
}

.btm-sub-contacts {
    padding: 20px;
}

.btm-sub-contacts .left {
    width: 60%;
}

.btm-sub-contacts .left h3 {
    margin: 15px 0 20px 0;
}

.btm-sub-contacts .left h4 {
    margin-bottom: 45px;
}

.btm-sub-contacts .right {
    width: 40%;
}

.btm-sub-contacts .right .btn {
    float: right;
}

/* subcription section end */

/* partner section start */

.partner {
    margin: 150px 0;
}

.p-text {
    padding: 40px;
}

/* partner section end */

/* dropbox business start */

.busn-card {
    width: calc(100% / 3 - 20px);
}

/* dropbox business start */

/* main end */

/* botton start  */

.btn{
    padding: 5px 10px;
    text-decoration: none;
}

.btn-blue {
    color: #fff;
    background-color: #0161FF;
}

.btn-white {
    color: #000;
    border: 1px solid #9c9c9c;
}

.btn.big {
    padding: 10px 20px;
}
/* botton end  */
