* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* common rules start */

.btn{
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.btn-blue:hover {
    filter: drop-shadow(-6px 3px 3px #4c89eb);
}

.btn-white:hover {
    filter: drop-shadow(-6px 3px 3px #9d9fa5);
    background-color: rgb(255, 255, 255);
}

.btn-blue {
    color: #fff;
    background-color: #0161FF;
}

.btn-white {
    color: #000;
    background-color: #fff;
    border: 1px solid #9c9c9c;
}

.btn.big {
    padding: 10px 20px;
}

.clear-fix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}

.container-small {
    width: 65%;
    margin: auto;
}

h2 {
    font-size: 35px;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;
}

.bb {
    border-bottom: 1px solid #9c9c9c;
}

.d-flex {
    display: flex;
}

.a-items {
    align-items: center;
}

.j-cont {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-55 {
    margin-bottom: 55px;
}

/* common rules end */

/* top header start */

header {
    background-color: #B4D0E7;
}

.top-header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7777;
    background-color: #fff;
}

#logo {
    width: 100px;
    vertical-align: middle;
}

nav ul li {
    padding: 0px 15px;
    line-height: 50px;
    border-bottom: 2px solid #fff;
}

nav ul .bbw:hover {
    border-bottom: 2px solid #000;
}

nav ul a {
    color: #000;
}

nav .btn {
    display: inline;
    color: #fff;
}

/* top header end */

/* hero section start */
.hero {
    position: relative;
    bottom: -80px;
}

.hero h1 {
    font-size: 60px;
}

.bottom-hero .hero-text {
    width: 30%;
}

.bottom-hero .hero-text .btn {
    margin: 20px 0;
}

.bottom-hero .hero-text a i {
    color: #000;
    margin-top: 40px;
    display: inline-block;
}

/* hero section end */

/* main start */

/* subcription section start */

main {
    padding-top: 200px;
}

#plans {
    padding-top: 50px;
}

main .billing {
    margin-right:20px;
}

main .billing::before {
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 10px;
}

main .billing.checked::before {
    width: 7px;
    height: 7px;
    border: 5px solid #0161FF;
}

.sub-cards {
    height: 1100px;
    margin-bottom: 50px;
}

.sub-card {
    width: calc(100% / 3 - 20px);
    border: 1px solid #9c9c9c;
}

.sub-type {
    text-align: center;
    padding: 10px;
}

.sub-perf {
    padding: 20px;
}

.sub-perf .price {
    font-weight: bold;
}

.sub-perf .duration {
    font-weight: 200;
}

.sub-perf ul {
    text-indent: -10px;
    padding-left: 20px;
}

.sub-perf ul li, footer ul li {
    margin-bottom: 25px;
}

.sub-perf ul li:last-child {
    margin-bottom: 55px;
}

.sub-perf .sub-imm {
    margin: 35px 0 45px 0;
}

.sub-perf hr {
    width: 50px;
}

.sub-perf .fa-check {
    color: #0161FF;
}

.sub-perf .fa-users {
    font-size: 13px;
}

.sub-contacts {
    border: 1px solid #9c9c9c;
}

.top-sub-contacts {
    text-align: center;
    padding: 10px;
}

.btm-sub-contacts {
    padding: 20px;
}

.btm-sub-contacts .left h3 {
    margin: 15px 0 20px 0;
}

.btm-sub-contacts .right .btn {
    float: right;
}

/* subcription section end */

/* partner section start */

.partner {
    margin: 150px auto;
}

.p-text {
    padding: 40px;
}

/* partner section end */

/* dropbox business start */

.db-busn .cards {
    margin-bottom: 200px;
}

.busn-card {
    width: calc(100% / 3 - 20px);
}

.cli-info {
    margin-bottom: 150px;
}

/* dropbox business end */

/* square section start */

.square-container {
    display: flex;
}

.square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.square-small {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.square-small:hover {
    border: 16px solid rgba(0, 0, 0, 0.3);
}

.square-small img {
    filter: invert(100%);
}

.green {
    background-color: #A2D39B;
    border: 16px solid #A2D39B;
}

.purple {
    background-color: #62092B;
    border: 16px solid #62092B;
}

.cyan {
    background-color: #0093CE;
    border: 16px solid #0093CE;
}

.red {
    background-color: #FF1D1C;
    border: 16px solid #FF1D1C;
}

.dark-red {
    background-color: #D50020;
    border: 16px solid #D50020;
}

.light-blue {
    background-color: #B4D0E7;
    border: 16px solid #B4D0E7;
}

.blue {
    background-color: #0D2481;
    border: 16px solid #0D2481;
}

.yellow {
    background-color: #FFD830;
    border: 16px solid #FFD830;
}

.big-square {
    background-color: #F5F5F5;
    padding: 30px;
    flex-direction: column;
}

.big-square img {
    width: 50%;
}

.big-square hr {
    width: 105px;
    margin: 30px 0;
}
/* square section end */

/* free trial section start */

.free {
    background-color: #B4D0E7;
    height: 360px;
    margin-bottom: 150px;
}

.btn-container {
    justify-content: flex-end;
    align-items: flex-start;
}

/* free trial section end */

/* faq section start */

.faq {
    margin-top: 30px;
}

.hide {
    display: none;
}

.fa-angle-down {
    transition: all 0.2s;
}

.top-faq:hover .fa-angle-down {
    transform: rotate(180deg);
}

.top-faq:hover .hide {
    display: block;
}

/* faq section start */

/* main end */

/* footer start */

footer {
    margin-top: 150px;
    padding-top: 110px;
    color: #fff;
    background-color: #000;
    height: 570px;
}

footer .container {
    height: 340px;
}

.cln {
    width: 19%;
    height: 100%;
}

footer ul li a {
    color: #fff;
}

footer hr {
    width: 120px;
    margin: 80px 0 40px 0;
}

/* footer end */
